.modal
    .modal-dialog
        form(@submit.prevent="submitCreating")
            .modal-header
                h2.dialog-title Create empty PR
            .modal-body
                label
                    | Repository *
                    select(name="repo" required).input-block-level
                        option(v-for="dir, repo in directories", :value="repo") {{ repo }}
                label
                    | refs URL
                    input(type="url" name="refs[url]" autofocus).input-block-level
                label
                    | HEAD branch *
                    input(type="text" name="head" required).input-block-level
                label
                    | Base branch *
                    input(type="text" name="base" value="master" required).input-block-level
            .modal-footer
                button(type="button", @click="isShownCreatingModal = false").btn.dialog-button.left.cancel Cancel
                button(type="submit").btn.dialog-button.btn-primary.save Create
.modal-backdrop
