.modal
    .modal-dialog
        form(@submit.prevent="submitOther")
            .modal-header
                h2.dialog-title Add other
            .modal-body
                label Title
                input(type="text" name="title" autofocus).input-block-level
                label Due date
                input(type="date" name="refs[dueDate]").input-block-level
            .modal-footer
                button(type="button", @click="isShownOtherModal = false").btn.dialog-button.left.cancel Cancel
                button(type="submit").btn.dialog-button.btn-primary.save Add
.modal-backdrop
